html{
	font-size: 2em;
}

.wrap{
	width: 50%;
	margin: 0 auto;
}

header{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
h1, a{
	display: block;
	margin: 0;
	height: 100%;
}

table{
	width: 100%;
}
thead tr td{
	background: orange;
	width: 100%;
	text-align: center;
}
tr{
	display: flex;
}
.child {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 10px;
	box-sizing: border-box;
	white-space: nowrap;
	flex-wrap: nowrap;
}
.child:nth-of-type(2){
	width: 100%;
}
